.blogItem {
	position: relative;
	width: 941px;
	justify-content: space-between;
	padding: 15px 20px;
	background-color: #fff;
	margin-bottom: 26px;
	box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.2);
}

.blogItem__container {
	width: 682px;
}

.blogItem__block {
	display: flex;
	margin-bottom: 6px;
}

.blogItem__title {
	height: 28px;
	color: #1890FF;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-right: 13px;
	overflow: hidden;
}

.blogItem__heart {
	margin-right: 5px;
	cursor: pointer;
}

.blogItem__favorited {
	color: rgba(0, 0, 0, 0.75);
	font-size: 12px;
	font-weight: 400;
	line-height: 27px;
}

.blogItem__tagList {
	height: 22px;
	margin-bottom: 7px;
	overflow: hidden;
}

.blogItem__tagList_list {
	display: flex;
	list-style-type: none;
}

.blogItem__tagList_list-item {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.50);
	border: 1px solid rgba(0, 0, 0, 0.50);
	border-radius: 2px;
	padding: 2px 5px;
	margin-right: 8px;
}

.blogItem__description {
	color: rgba(0, 0, 0, 0.75);
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
}

.blogItem_body {
	height: 680px;
	// color: rgba(0, 0, 0, 0.75);
	// font-size: 12px;
	// font-weight: 400;
	// line-height: 22px;
	overflow: hidden;
}

.blogItem__author {
	position: absolute;
	top: 17px;
	right: 14px;
	display: flex;
}

.blogItem__case {
	display: flex;
	flex-direction: column;
	align-items: flex-end
}

.blogItem__name {
	color: rgba(0, 0, 0, 0.85);
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: -5px;
}

.blogItem__created {
	color: var(--text-color-secondary, rgba(0, 0, 0, 0.50));
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
}

.blogItem__avatar {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	margin-left: 12px;
}

.blogItem__groupButton {
	position: absolute;
	top: 90px;
	right: 14px;
}

.blogItem__btn {
	padding: 6px 17px;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

.blogItem__delete {
	height: 31px;
	border: 1px solid #F5222D;
	color: #F5222D;
	margin-right: 12px;
}

.blogItem__delete:hover {
	color: #fff;
	background-color: #F5222D;
}

.blogItem__edit {
	line-height: 16px;
	display: inline-block;
	height: 31px;
	text-decoration: none;
	border: 1px solid #52C41A;
	color: #52C41A;
}

.blogItem__edit:hover {
	color: #fff;
	background-color: #52C41A;
}