.signIn {
	margin: 59px auto 0;
	padding: 48px 32px;
	width: 384px;
	min-height: 374;
	border-radius: 6px;
	border: 1px solid #D9D9D9;
	background: #FFF;
	box-shadow: 0px 0.6088px 2.93329px 0px rgba(0, 0, 0, 0.02), 0px 1.46302px 7.04911px 0px rgba(0, 0, 0, 0.03), 0px 2.75474px 13.27285px 0px rgba(0, 0, 0, 0.04), 0px 4.91399px 23.67649px 0px rgba(0, 0, 0, 0.04), 0px 9.19107px 44.28427px 0px rgba(0, 0, 0, 0.05), 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.signIn h1 {
	color: #262626;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 21px;
}

.signIn label {
  display: block;
  color: #262626;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 12px;
}

.signIn input {
	padding: 8px 12px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #D9D9D9;
	background: #FFF;
}

.signIn input::placeholder {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.signIn span {
	color: #F5222D;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.signIn p {
	margin-top: 8px;
	text-align: center;
	color: #8C8C8C;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}

.signIn p a {
	text-decoration: none;
	color: #1890FF;
}

.signIn button {
	display: block;
	padding: 8px 16px;
	width: 100%;
	margin-top: 21px;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: #1890FF;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
}

.signIn button:hover {
	transform: scale(1.01);
}