.signUp {
	margin: 59px auto 0;
	padding: 48px 32px;
	width: 384px;
	min-height: 599px;
	border-radius: 6px;
	border: 1px solid #D9D9D9;
	background: #FFF;
	box-shadow: 0px 0.6088px 2.93329px 0px rgba(0, 0, 0, 0.02), 0px 1.46302px 7.04911px 0px rgba(0, 0, 0, 0.03), 0px 2.75474px 13.27285px 0px rgba(0, 0, 0, 0.04), 0px 4.91399px 23.67649px 0px rgba(0, 0, 0, 0.04), 0px 9.19107px 44.28427px 0px rgba(0, 0, 0, 0.05), 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.signUp h1 {
	color: #262626;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 21px;
}

.signUp label {
  display: block;
  color: #262626;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 12px;
}

.signUp input {
	padding: 8px 12px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #D9D9D9;
	background: #FFF;
}

.signUp input::placeholder {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.signUp span {
	color: #F5222D;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.signUp .hr {
	margin-top: 21px;
	width: 100%;
	height: 10px;
	border-bottom: 1px solid #E8E8E8;
}


.signUp .label {
	display: flex;
	margin-left: 30px;
}

.signUp .input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.signUp .check__box {
	position: absolute;
	margin-top: 5px;
	margin-left: -30px; // -30px;
	width: 20px;
	height: 20px;	
	overflow: hidden;
	border-radius: 0.05em;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid #2196F3;
	border-radius: 3px;
	cursor: pointer;
}

.signUp .input:checked+.check__box {
	background-color: #4A90E2;
	background-image: url('./checkbox.svg');
}

.signUp p {
	margin-top: 8px;
	text-align: center;
	color: #8C8C8C;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}

.signUp p a {
	text-decoration: none;
	color: #1890FF;
}

.signUp button {
	display: block;
	padding: 8px 16px;
	width: 100%;
	margin-top: 21px;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: #1890FF;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
}

.signUp button:hover {
	transform: scale(1.01);
}